APP_NAME=AI Director Edge Agent
APP_ENV=development

SITE_ID=site-001
EDGE_ID=edge-001

WEB_HOST=0.0.0.0
WEB_PORT=8080

DATABASE_PATH=storage/database/edge.db

SECRET_KEY=ganti_dengan_secret_sendiri

APP_TIMEZONE=Asia/Jakarta

HIKVISION_USERNAME=admin
HIKVISION_PASSWORD=ganti_password_kamera
MASTER_KEY=ganti_dengan_fernet_key
